@{
    ViewBag.Title = "Job Order";
    if (TempData["message"] != null)
    {
            <div class="dialog-success">
               <strong><span class="glyphicon glyphicon-ok"></span> </strong> <span>@TempData["message"]</span>
            </div>
    }

}
<div class="panel panel-default">
    <div class="panel-body">
        <h2><strong>@ViewBag.Header</strong></h2>
        <div class="row">
            <div class="col-md-12">
                    <form class="form-inline" method="POST" action="">
                        <div class="form-group">
                            <div class="col-md-7">
                                <input type="text" name="search" placeholder="Search here.." class="inline form-control margin-top margin-bottom" value="@ViewBag.Search" />
                            </div>
                           <div class="col-md-5">
                               <button type="submit" name="submit" class="btn btn-success pull-left margin-top margin-bottom" style="border-radius:0px;" value="Search"><span class="glyphicon glyphicon-search" style="color:white;"></span></button>
                               <button type="submit" name="submit" class="btn btn-success pull-left margin-top margin-bottom" style="border-radius:0px;" value="Refresh"><span class="glyphicon glyphicon-refresh" style="color:white;"></span></button>
                           </div>
                           <input type="text" name="type" value="@ViewBag.Type" style="visibility:hidden" />
                           <input type="text" name="id" value="3" style="visibility:hidden" />
                        </div>
                    </form>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover" id="table_list">
                    <thead>
                        <tr>
                            <th>Personnel ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Position</th>
                            <th></th>
                        </tr>
                    </thead>
                    @using (Html.BeginForm("Payroll_Redirect", "Payroll", FormMethod.Post))
                    {

                        foreach (var list in ViewBag.List)
                        {
                            <tr>
                                <td>@list.PersonnelID</td>
                                <td>@list.Firstname</td>
                                <td>@list.Lastname</td>
                                <td>@list.JobType</td>
                                <td><button type="submit" name="empID" value="@list.PersonnelID" class="btn btn-primary btn_view"><span class="glyphicon glyphicon-user"></span></button></td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>  
    </div>
    <div class="panel-footer">
                <!--navigation-->
                <form method="POST" action="">
                    <input type="hidden" name="search" value="@ViewBag.Search" />
                    <input type="hidden" name="start" value="@Session["Prev"]" />
                    <center>
                        @if (ViewBag.Prev != 0)
                        {
                            <button type="submit" class="btn btn-primary" name="id" value="1"><span class="glyphicon glyphicon-arrow-left"> </span></button>
                        }
                        <span class="span-align">@((ViewBag.Prev + 1) + " - " + ViewBag.Next)</span>
                        @if (ViewBag.Next != ViewBag.Max)
                        {
                            <button type="submit" class="btn btn-primary" name="id" value="0"><span class="glyphicon glyphicon-arrow-right"> </span></button>
                        }
                    </center>
                </form>
    </div>
</div>
