@{
    ViewBag.Title = "Job Order";
    if (TempData["message"] != null)
    {
            <div class="alert alert-success">
               <strong><span class="glyphicon glyphicon-ok"></span> </strong> <span>@TempData["message"]</span>
            </div>
    }
}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="panel-text-color">Employee (JO)</strong>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <form class="form-inline" method="POST" action="">
                        <div class="form-group">
                            <div class="input-group">
                                    <input type="text" name="search" placeholder="Search here.." class="inline form-control margin-top margin-bottom" value="@ViewBag.Search" />
                                    <input type="submit" style="visibility:hidden"/>
                                    <input type="text" name="id" value="3" style="visibility:hidden" />
                                </div>
                        </div>
                    </form>
                </div>
                <table class="table table-hover" id="table_list">
                    <thead>
                        <tr>
                            <th>Personnel ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Position</th>
                            <th>Updated Date</th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var list in ViewBag.List)
            {
                        <tr>
                            <td>@list.PersonnelID</td>
                            <td>@list.Firstname</td>
                            <td>@list.Lastname</td>
                            <td>@list.JobType</td>

                            <td class="hidden">@list.Payroll.Salary</td>
                            <td class="hidden">@list.Payroll.MinutesLate</td>
                            <td class="hidden">@list.Payroll.Coop</td>
                            <td class="hidden">@list.Payroll.Phic</td>
                            <td class="hidden">@list.Payroll.Disallowance</td>
                            <td class="hidden">@list.Payroll.Gsis</td>
                            <td class="hidden">@list.Payroll.Pagibig</td>
                            <td class="hidden">@list.Payroll.ExcessMobile</td>
                            <td class="hidden">@list.Payroll.Flag</td>
                            <td class="hidden">@list.Payroll.WorkDays</td>
                            <td class="hidden">@list.Payroll.PayrollDate</td>
                            <td class="hidden">@list.Am_In</td>
                            <td class="hidden">@list.Am_Out</td>
                            <td class="hidden">@list.Pm_In</td>
                            <td class="hidden">@list.Pm_Out</td>
                            <td>@list.Payroll.PayrollDate</td>
                            @if (list.Payroll.Flag.Equals("0"))
                            {
                                <td><button type="button" class="btn btn-primary btn_view" data-toggle="modal" data-target="#modal">CREATE</button></td>
                            }
                            else
                            {
                                <td><button type="button" class="btn btn-success btn_view" data-toggle="modal" data-target="#modal">UPDATE</button></td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>  
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-5 col-md-offset-5">
                <!--navigation-->
                <form method="POST" action="">
                    <input type="hidden" name="search" value="@ViewBag.Search" />
                    <div class="col-md-3">
                        @if (ViewBag.Prev != 0)
                        {
                            <button type="submit" class="btn btn-primary" name="id" value="1"><span class="glyphicon glyphicon-arrow-left"> </span></button>
                        }
                    </div>
                    <div class="col-md-3">
                        <span class="span-align">@((ViewBag.Prev + 1) + " - " + ViewBag.Next)</span>
                    </div>
                    <div class="col-md-2">
                        @if (ViewBag.Next != ViewBag.Max)
                        {
                            <button type="submit" class="btn btn-primary" name="id" value="0"><span class="glyphicon glyphicon-arrow-right"> </span></button>
                        }
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
