@{
    ViewBag.Title = "Payroll";
    if (TempData["pdf"] != null)
    {
        <div class="alert alert-success">
            <strong><span class="glyphicon glyphicon-ok"></span> </strong> <span>@TempData["pdf"]</span>
        </div>

    }
}
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="panel-text-color">Print Payroll</strong>
            </div>
            <div class="panel-body">
            @using (Html.BeginForm("CreatePdf", "Payroll", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Date Range</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control active" id="filter_dates" name="filter_dates" placeholder="Filter date range here..." required readonly>
                    </div>
                </div>
                <center>
                    <div class="form-group">
                        <button type="submit" role="button" class="btn btn-success">Generate Payroll</button>
                    </div>
                </center>
            }
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="panel-text-color">Payroll(PDF)</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                            <form class="form-inline" method="POST" action="">
                                <div class="form-group">
                                    <input type="text" name="search" id="search" placeholder="Date Range" class="inline form-control margin-top margin-bottom" value="@ViewBag.Search" readonly />
                                    <button type="submit" class="btn btn-success pull-left  margin-top margin-bottom">Search</button>
                                    <input type="text" name="id" value="3" style="visibility:hidden" />
                                </div>
                            </form>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12"> 
                        <table class="table table-hover" id="table_list">
                            <thead>
                                <tr>
                                    <th>Date Created</th>
                                    <th>Date Range</th>
                                    <th></th>
                                </tr>
                            </thead>
                           
                                @foreach (var list in ViewBag.List)
                                {
                                    <tr>
                                        <td>@list.Date</td>
                                        <td>@list.DisplayName</td>
                                        <td><a href="@Url.Action("ViewPdf","Payroll", new { pdf=@list.FileName})" target="_blank" class="btn btn-primary">View</a></td>
                                    </tr>
                                }
                           
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-5 col-md-offset-5">
                        <!--navigation-->
                        <form method="POST" action="">
                            <input type="hidden" name="search" value="@ViewBag.Search" />
                            <div class="col-md-3">
                                @if (ViewBag.Prev != 0)
                                {
                                    <button type="submit" class="btn btn-primary" name="id" value="1"><span class="glyphicon glyphicon-arrow-left"> </span></button>
                                }
                            </div>
                            <div class="col-md-3">
                                <span class="span-align">@((ViewBag.Prev + 1) + " - " + ViewBag.Next)</span>
                            </div>
                            <div class="col-md-2">
                                @if (ViewBag.Next != ViewBag.Max)
                                {
                                    <button type="submit" class="btn btn-primary" name="id" value="0"><span class="glyphicon glyphicon-arrow-right"> </span></button>
                                }
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
