@{
    ViewBag.Title = "Payroll";
    if (TempData["message"] != null)
    {
        if (TempData["message"].Equals("Date Range Already Exists"))
        {
            <div class="alert alert-danger" id="update_payroll_container">
                <strong><span class="glyphicon glyphicon-remove"></span> </strong> <span>@TempData["message"]</span>
            </div>
        }
        else
        {
            <div class="alert alert-success" id="update_payroll_container">
                <strong><span class="glyphicon glyphicon-ok"></span> </strong> <span>@TempData["message"]</span>
            </div>
        }
        TempData["message"] = null;
    }
    <div class="alert alert-success hidden" id="payroll_list_msg_container">
       <strong><span class="glyphicon glyphicon-ok"></span> </strong> <span id="payroll_list_msg">Successfully Generated</span>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading" style="background:#fff">
        <strong class="panel-text-size-24">Payroll List</strong>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" method="POST" action="">
                    <div class="form-group">
                        <input type="text" name="search" id="search" placeholder="Date Range" class="inline form-control margin-top margin-bottom" style="border-radius:0px;background:#fff" value="@ViewBag.Search" readonly />
                        <button type="submit" name="submit" class="btn btn-success pull-left margin-top margin-bottom" style="border-radius:0px;" value="Search"><span class="glyphicon glyphicon-search" style="color:white;"></span></button>
                        <button type="submit" name="submit" class="btn btn-success pull-left margin-top margin-bottom" style="border-radius:0px;" value="Refresh"><span class="glyphicon glyphicon-refresh" style="color:white;"></span></button>
                        @if (Session["LoginType"].Equals("1"))
                        { <button type="button" name="add" class="btn btn-success pull-left margin-top margin-bottom btn_add" style="border-radius:0px;" data-toggle="modal" data-target="#modal" data-id="@ViewBag.Id"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>}
                        <input type="text" name="id" value="3" style="visibility:hidden" />
                        <input type="text" name="empID" value="@ViewBag.Id" style="visibility:hidden" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover" id="table_list">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>From</th>
                            <th>To</th>
                            <th></th>
                        </tr>
                    </thead>
            @using (Html.BeginForm("DeletePayroll", "Payroll", FormMethod.Post))
                {
                    foreach (var list in ViewBag.List)
                    {
                        <tr>
                            <td>@list.Employee.PersonnelID</td>
                            <td>@list.Employee.Firstname</td>
                            <td>@list.Employee.Lastname</td>
                            <td>@list.StartDate</td>
                            <td>@list.EndDate</td>

                            <td class="hidden">@list.Salary</td>
                            <td class="hidden">@list.MinutesLate</td>
                            <td class="hidden">@list.Coop</td>
                            <td class="hidden">@list.Phic</td>
                            <td class="hidden">@list.Disallowance</td>
                            <td class="hidden">@list.Gsis</td>
                            <td class="hidden">@list.Pagibig</td>
                            <td class="hidden">@list.ExcessMobile</td>
                            <td class="hidden">@list.WorkDays</td>
                            <td class="hidden">@list.DaysAbsent</td>
                            <td class="hidden">@list.Remarks</td>
                            <td class="hidden">@list.Id</td>
                            <td class="hidden">@list.Adjustment</td>
                            <td>
                                <button type="button" class="btn btn-primary btn_print"><span class="glyphicon glyphicon-print"></span></button>
                                @if (Session["LoginType"].Equals("1"))
                                {
                                    <button type="button" class="btn btn-primary btn_edit" data-toggle="modal" data-target="#modal"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button type="submit" name="submit" class="btn btn-danger" value="@list.Id"><span class="glyphicon glyphicon-remove"></span></button>
                                }
                            </td>
                        </tr>
                    }
                }
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-5 col-md-offset-5">
                <!--navigation-->
                <form method="POST" action="">
                    <input type="hidden" name="search" value="@ViewBag.Search" />
                    <div class="col-md-3">
                        @if (ViewBag.Prev != 0)
                        {
                            <button type="submit" name="id" class="btn btn-primary" value="1"><span class="glyphicon glyphicon-arrow-left"> </span></button>
                        }
                    </div>
                    <div class="col-md-3">
                        <span class="span-align">@((ViewBag.Prev + 1) + " - " + ViewBag.Next)</span>
                    </div>
                    <div class="col-md-2">
                        @if (ViewBag.Next != ViewBag.Max)
                        {
                            <button type="submit" name="id" class="btn btn-primary" value="0"><span class="glyphicon glyphicon-arrow-right"> </span></button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
