@{
    ViewBag.Title = "Payroll";
    if (TempData["pdf"] != null)
    {
        if (TempData["pdf"].Equals("Data Range must be specified") || TempData["pdf"].Equals("Nothing to generate"))
        {
            <div class="dialog-error">
                <strong><span class="glyphicon glyphicon-remove"></span> </strong> <span>@TempData["pdf"]</span>
            </div>
        }
        else
        {
            <div class="dialog-success">
                <strong><span class="glyphicon glyphicon-ok"></span> </strong> <span>@TempData["pdf"]</span>
            </div>
        }


    }
}
<div class="row">
    @if (Session["LoginType"].Equals("1"))
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="background:#607D8B">
                    <strong class="panel-text-size-24">Print Payroll</strong>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("CreatePdf", "Payroll", FormMethod.Post))
                    {
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td class="col-sm-3"><strong>Date Range</strong></td>
                                    <td class="col-sm-1">: </td>
                                    <td class="col-sm-9">
                                        <input type="text" name="filter_dates" id="filter_dates" placeholder="Date Range" class="inline form-control" style="border-radius:0px;background:#fff" readonly required/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-3"><strong>Document</strong></td>
                                    <td class="col-sm-1"> :</td>
                                    <td class="col-sm-9">
                                        <select name="selection" id="selection" class="form-control pull-left" style="border-radius:0px;" required>
                                            <option value="1">ALL</option>
                                            <option value="2">Pag-Ibig</option>
                                            <option value="3">Coop</option>
                                            <option value="4">PHIC</option>
                                            <option value="5">GSIS</option>
                                            <option value="6">EXCESS</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-3"><strong>Disbursement</strong></td>
                                    <td class="col-sm-1"> :</td>
                                    <td class="col-sm-9">
                                        <select name="disbursment" id="disbursment" class="form-control pull-left" style="border-radius:0px;" required>
                                            <option value="ATM">ATM</option>
                                            <option value="CASH_CARD">Cashcard</option>
                                            <option value="NO_CARD">W/O LBP Cards</option>
                                            <option value="UNDER_VTF">Under VTF</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-3"><strong>Section</strong></td>
                                    <td class="col-sm-1"> :</td>
                                    <td class="col-sm-9">
                                        <select name="section" id="section" class="form-control pull-left" style="border-radius:0px;" required>
                                            <option value="00000">ALL</option>
                                            @foreach (var list in ViewBag.Section)
                                            {
                                                <option value="@list.SectionID">@list.Description</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button type="submit" name="submit" class="btn-lg btn-success center-block col-sm-12 btn_payroll_print" value="Search">
                                <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print
                        </button>
                       <!---->
                    }
                </div>
            </div>
        </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2><strong>PDF List</strong></h2>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline" method="POST" action="">
                            <div class="form-group">
                                <div class="col-md-7">
                                    <input type="text" name="search" id="search" placeholder="Date Range" class="inline form-control margin-top margin-bottom" style="border-radius:0px;background:#fff" value="@ViewBag.Search" readonly />
                                </div>
                                <div class="col-md-5">
                                    <button type="submit" name="submit" class="btn btn-success pull-left margin-top margin-bottom" style="border-radius:0px;" value="Search"><span class="glyphicon glyphicon-search" style="color:white;"></span></button>
                                    <button type="submit" name="submit" class="btn btn-success pull-left margin-top margin-bottom" style="border-radius:0px;" value="Refresh"><span class="glyphicon glyphicon-refresh" style="color:white;"></span></button>
                                </div>
                                <input type="text" name="id" value="3" style="visibility:hidden" />
                                </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover" id="table_list">
                            <thead>
                                <tr>
                                    <th>Users</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Documents</th>
                                    <th>Disbursement Type</th>
                                    
                                    <th></th>
                                </tr>
                            </thead>
                        @using (Html.BeginForm("DeletePayrollPDF", "Payroll", FormMethod.Post))
                        {
                            foreach (var list in ViewBag.List)
                            {
                                <tr>
                                    @if (list.UserID.Equals("0"))
                                    {
                                        <td>ALL</td>
                                    }
                                    else
                                    {
                                        <td>@list.UserID</td>
                                    }
                                    <td>@list.StartDate</td>
                                    <td>@list.EndDate</td>
                                    @if (list.FileName.Split('_')[0].Equals("1"))
                                    {
                                        <td>ALL</td>
                                    }
                                    else if (list.FileName.Split('_')[0].Equals("2"))
                                    {
                                        <td>Pag-Ibig</td>
                                    }
                                    else if (list.FileName.Split('_')[0].Equals("3"))
                                    {
                                        <td>Coop</td>
                                    }
                                    else if (list.FileName.Split('_')[0].Equals("4"))
                                    {
                                        <td>PHIC</td>
                                    }
                                    else if (list.FileName.Split('_')[0].Equals("5"))
                                    {
                                        <td>GSIS</td>
                                    }
                                    else if (list.FileName.Split('_')[0].Equals("6"))
                                    {
                                        <td>Excess Mobile</td>
                                    }
                                    else
                                    {
                                        <td>PaySlip</td>
                                    }
                                    <td>@list.Disbursement</td>
                                    <td>
                                        <a href="@Url.Action("ViewPdf", "Payroll", new { pdf = @list.FileName })" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-book"></span></a>
                                        @if (Session["LoginType"].Equals("1"))
                                        {
                                            <button type="submit" name="submit" class="btn btn-danger" value="@list.ID"><span class="glyphicon glyphicon-trash"></span></button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
              
                        <!--navigation-->
                        <form method="POST" action="">
                            <input type="hidden" name="search" value="@ViewBag.Search" />
                                <center>
                                    @if (ViewBag.Prev != 0)
                                    {
                                        <button type="submit" class="btn btn-primary" name="id" value="1"><span class="glyphicon glyphicon-arrow-left"> </span></button>
                                    }
                                    <span class="span-align">@((ViewBag.Prev + 1) + " - " + ViewBag.Next)</span>
                                    @if (ViewBag.Next != ViewBag.Max)
                                    {
                                        <button type="submit" class="btn btn-primary" name="id" value="0"><span class="glyphicon glyphicon-arrow-right"> </span></button>
                                    }
                                </center>
                        </form>
            </div>
        </div>
    </div>
    }
    else
    {
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2><strong>PDF List</strong></h2>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline" method="POST" action="">
                                <div class="form-group">
                                    <div class="col-md-7">
                                        <input type="text" name="search" id="search" placeholder="Date Range" class="inline form-control margin-top margin-bottom" style="border-radius:0px;background:#fff" value="@ViewBag.Search" readonly />
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" name="submit" class="btn btn-success pull-left margin-top margin-bottom" style="border-radius:0px;" value="Search"><span class="glyphicon glyphicon-search" style="color:white;"></span></button>
                                        <button type="submit" name="submit" class="btn btn-success pull-left margin-top margin-bottom" style="border-radius:0px;" value="Refresh"><span class="glyphicon glyphicon-refresh" style="color:white;"></span></button>
                                    </div>
                                    <input type="text" name="id" value="3" style="visibility:hidden" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover" id="table_list">
                                <thead>
                                    <tr>
                                        <th>Users</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Documents</th>
                                        <th>Disbursement Type</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                @foreach (var list in ViewBag.List)
                                {
                                <tr>
                                    @if (list.UserID.Equals("0"))
                                    {
                                        <td>ALL</td>
                                    }
                                    else
                                    {
                                        <td>@list.UserID</td>
                                    }
                                    <td>@list.StartDate</td>
                                    <td>@list.EndDate</td>
                                    @if (list.FileName.Split('_')[0].Equals("1"))
                                    {
                                        <td>ALL</td>
                                    }
                                    else if (list.FileName.Split('_')[0].Equals("2"))
                                    {
                                        <td>Pag-Ibig</td>
                                    }
                                    else if (list.FileName.Split('_')[0].Equals("3"))
                                    {
                                        <td>Coop</td>
                                    }
                                    else if (list.FileName.Split('_')[0].Equals("4"))
                                    {
                                        <td>PHIC</td>
                                    }
                                    else if (list.FileName.Split('_')[0].Equals("5"))
                                    {
                                        <td>GSIS</td>
                                    }
                                    else if (list.FileName.Split('_')[0].Equals("6"))
                                    {
                                        <td>Excess Mobile</td>
                                    }
                                    else
                                    {
                                        <td>PaySlip</td>
                                    }
                                    <td>@list.Disbursement</td>
                                    <td>
                                        <a href="@Url.Action("ViewPdf", "Payroll", new { pdf = @list.FileName })" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-book"></span></a>
                                    </td>
                                </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                            <!--navigation-->
                    <form method="POST" action="">
                    <input type="hidden" name="search" value="@ViewBag.Search" />
                    <center>
                        @if (ViewBag.Prev != 0)
                        {
                            <button type="submit" class="btn btn-primary" name="id" value="1"><span class="glyphicon glyphicon-arrow-left"> </span></button>
                        }        
                        <span class="span-align">@((ViewBag.Prev + 1) + " - " + ViewBag.Next)</span>
                        @if (ViewBag.Next != ViewBag.Max)
                        {
                        <button type="submit" class="btn btn-primary" name="id" value="0"><span class="glyphicon glyphicon-arrow-right"> </span></button>
                        }     
                    </center>
                   </form>
                </div>
            </div>
        </div>
    }
</div>


