@{
    ViewBag.Title = "Payroll";
}
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="panel-text-color">Print Payroll</strong>
            </div>
            <div class="panel-body">
            @using (Html.BeginForm("CreatePdf", "Payroll", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Date Range</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control active" id="filter_dates" name="filter_dates" placeholder="Filter date range here..." required>
                    </div>
                </div>
                    <div class="form-group">
                        <button type="submit" role="button" class="btn btn-success">Generate Payroll</button>
                    </div>
            }
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong class="panel-text-color">Payroll(PDF)</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                            <form class="form-inline" method="POST" action="">
                                <div class="form-group">
                                    <input type="text" name="search" id="search" placeholder="Search here.." class="inline form-control margin-top margin-bottom" value="@ViewBag.Search" />
                                    <button type="submit" class="btn btn-success pull-left  margin-top margin-bottom">Search</button>
                                        <input type="text" name="id" value="3" style="visibility:hidden" />
                                </div>
                            </form>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12"> 
                        <table class="table table-hover" id="table_list">
                            <thead>
                                <tr>
                                    <th>Date Created</th>
                                    <th>File Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @using (Html.BeginForm("ViewPdf", "Payroll", FormMethod.Post))
                            {
                                foreach (var list in ViewBag.List)
                                {
                                    <tr>
                                        <td>@list.Date</td>
                                        <td>@list.FileName</td>
                                        <td><button type="submit" name="pdf" value="@list.FileName" class="btn btn-primary btn_view">VIEW</button></td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-5 col-md-offset-5">
                        <!--navigation-->
                        <form method="POST" action="">
                            <input type="hidden" name="search" value="@ViewBag.Search" />
                            <div class="col-md-3">
                                @if (ViewBag.Prev != 0)
                                {
                                    <button type="submit" class="btn btn-primary" name="id" value="1"><span class="glyphicon glyphicon-arrow-left"> </span></button>
                                }
                            </div>
                            <div class="col-md-3">
                                <span class="span-align">@((ViewBag.Prev + 1) + " - " + ViewBag.Next)</span>
                            </div>
                            <div class="col-md-2">
                                @if (ViewBag.Next != ViewBag.Max)
                                {
                                    <button type="submit" class="btn btn-primary" name="id" value="0"><span class="glyphicon glyphicon-arrow-right"> </span></button>
                                }
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
