
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="author" content="Lourence Rex B. Traya">
    <meta name="author" content="Rusel Tayong">
    <meta name="author" content="Department of Health Region 7">
    <link rel="icon" href="@Url.Content("~/public/img/favicon.png")">
    <meta http-equiv="cache-control" content="max-age=0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/public/bootstrap/home")
    @Scripts.Render("~/bundles/jquery")
    
    <script>var loadingState = '<center><img src="@Url.Content("~/public/img/spin.gif")" width="150" style="padding:20px;"></center>'; </script>
    
     <style>  
        body {
             background: url('@Url.Content("~/public/img/backdrop.png")'), -webkit-gradient(radial, center center, 0, center center, 460, from(#ccc), to(#ddd));
             font-family:sans-serif;
        }
         .panel-text-color {
             color:#fff;
         }
          .panel-text-size-24 {
             color:#fff;
             font-size:18px;
             font-family:sans-serif;
         }
         .modal-header{
             background-color:#9C8AA5;
         }
        .container-padding {
            padding:50px;
        }
         textarea {
         resize:none;
         }
        .card-view {
            border-style:solid;
            border-color:#d0d0d0;
            border-width:1px;
            background-color:#fff;
            padding:10px;
            border-radius:5px;
            margin-top:10px;
        }
         .inline {
         display:inline;
         float:left;
         clear:both;
         }
        .margin-top {
            margin-top:20px;
        }
        .margin-bottom {
            margin-bottom:30px;
        }
        .text-color-white {
            color:#fff;
        }
         .row-background {
             background-color:rgb(130, 173, 250);
         }
         .hidden {
             visibility:hidden;
         }
         .span-align {
          display: inline-flex;
          align-items: center;
          margin-top:5px;
         }

         .margin-top-50 {
             margin-top:5em;
         }

         .span-align-medium-size{
          display: inline-flex;
          align-items: center;
          margin-top:5px;
          font-size:large;
          font-family:sans-serif
         }

         .fixed-td {
              width: 30px;
              overflow: hidden;
              display: inline-block;
              white-space: nowrap;
         }

         .message {
            background-color:rgb(102, 255, 147);
            font-size:19px;
            color:#fff;
            text-align:center;
         }
          .panel-header-background {
            background-color:rgb(200, 129, 255);
         } 
     </style>
</head>

<body class="ng-cloak ">
        <div class="loading">
        </div>
    <!-- Fixed navbar -->

    <nav class="navbar navbar-default navbar-static-top">
        <div class="header" style="background-color:#2F4054;padding:10px;">
            <div class="col-md-4">
                <span class="title-info">Welcome,</span> <span class="title-desc">@Session["Name"]</span>
            </div>
            <div class="col-md-4">
                <span class="title-info">Section:</span>
                <span class="title-desc">@Session["Section"]
                </span>
            </div>
            <div class="col-md-4">
                <span class="title-info">Date:</span> <span class="title-desc">@(DateTime.Now.ToString("MM/dd/yyyy"))</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="header" style="background-color:#607D8B;padding:15px;">
            <div class="container">
                <img src="@Url.Content("~/public/img/payroll_banner.png")" class="img-responsive" />
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               @Html.Partial("admin_header")
            </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <div class="loading"></div>
            @RenderBody()
            <div class="clearfix"></div>
            @Html.Partial("modals")
        </div> <!-- /container -->
<footer class="footer">
    <div class="container">
        <p>Copyright &copy; 2017 DOH-RO7 All rights reserved</p>
    </div>
</footer>

    @Scripts.Render("~/public/bootstrap/home/scripts")        
</body>
</html>
