
<ul class="nav navbar-nav">

    @if (Session["LoginType"].Equals("1"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Payroll<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a href="#"><i class="glyphicon glyphicon-plus"></i> Create Payroll</a>
                    <ul class="dropdown-menu">
                        <li  class="dropdown-submenu">
                            <a>Job Order</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Job_Order", "Payroll",new {type="ATM"})">ATM</a></li>
                                <li><a href="@Url.Action("Job_Order", "Payroll",new {type="CASH_CARD"})">Cash Card</a></li>
                                <li><a href="@Url.Action("Job_Order", "Payroll",new {type="NO_CARD"})">W/O LBP Card</a></li>
                                <li><a href="@Url.Action("Job_Order", "Payroll",new {type="UNDER_VTF"})">Under VTF</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Payroll", "Payroll")"><i class="fa fa-print"></i> Generate Payroll</a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Remittance<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a href="#"><i class="glyphicon glyphicon-plus"></i> Create Remittance</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Pagibig", "Remittance")">Pag-Ibig</a></li>
                        <li><a href="@Url.Action("Coop", "Remittance")">Coop</a></li>
                        <li><a href="@Url.Action("Phic", "Remittance")">PHIC</a></li>
                        <li><a href="@Url.Action("Gsis", "Remittance")">GSIS</a></li>
                        <li><a href="@Url.Action("Disallowance", "Remittance")">Disallowances</a></li>
                        <li><a href="@Url.Action("Excess", "Remittance")">Excess Mobile</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    }
    else
    {
        //<li><a href="@Url.Action("Payroll_List", "Payroll")">Payroll List</a></li>
        <li><a href="@Url.Action("Payroll", "Payroll")">PDF List</a></li>
    }
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i></a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("ChangePin", "User")">Change PIN</a></li>
            <li><a href="@Url.Action("Logout", "Login")">Sign Out</a></li>
        </ul>
    </li>
</ul>