@{
    ViewBag.Title = "Remittance - Coop";
    if (TempData["message"] != null)
    {
        if (TempData["message"].ToString().Equals("Insert Successfully") ||
            TempData["message"].ToString().Equals("Successfully Deleted") ||
             TempData["message"].ToString().Equals("Updated Successfully"))
        {
            <div class="alert alert-success">
                <strong><span class="glyphicon glyphicon-ok"></span> </strong> <span>@TempData["message"]</span>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <strong><span class="glyphicon glyphicon-remove"></span> </strong> <span>@TempData["message"]</span>
            </div>
        }
    }
}
<div class="panel panel-default">
    <div class="panel-heading" style="background:#607D8B">
        <strong class="panel-text-size-24">Remittance - Coop</strong>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" method="POST" action="">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Search here.." class="inline form-control margin-top margin-bottom" style="border-radius:0px;" value="@ViewBag.Search" />
                        <button type="submit" name="submit" class="btn btn-success pull-left margin-top margin-bottom" style="border-radius:0px;" value="Search"><span class="glyphicon glyphicon-search" style="color:white;"></span></button>
                        <button type="submit" name="submit" class="btn btn-success pull-left margin-top margin-bottom" style="border-radius:0px;" value="Refresh"><span class="glyphicon glyphicon-refresh" style="color:white;"></span></button>
                        <button type="button" name="remit_btn_add" class="btn btn-success pull-left margin-top margin-bottom remit_btn_add" style="border-radius:0px;" data-toggle="modal" data-target="#modal_remit"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
                        <input type="text" name="id" value="3" style="visibility:hidden" />
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover" id="table_list">
                    <thead>
                        <tr>
                            <th>Personnel ID</th>
                            <th>Max Count</th>
                            <th>Count</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    @using (Html.BeginForm("DeleteRemittance", "Remittance", FormMethod.Post))
                    {
                        foreach (var list in ViewBag.List)
                        {
                            <tr>
                                <td>@list.UserID</td>
                                <td>@list.MaxCount</td>
                                <td>@list.Count</td>
                                <td>@list.Amount</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn_edit_remit"  data-toggle="modal" data-target="#modal_remit"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button type="submit" name="empID" class="btn btn-danger" value="@list.UserID"><span class="glyphicon glyphicon-trash"></span></button>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
       
                <!--navigation-->
                <form method="POST" action="">
                    <input type="hidden" name="search" value="@ViewBag.Search" />
                    <center>
                        @if (ViewBag.Prev != 0)
                        {
                            <button type="submit" class="btn btn-primary" name="id" value="1"><span class="glyphicon glyphicon-arrow-left"> </span></button>
                        }
                        <span class="span-align">@((ViewBag.Prev + 1) + " - " + ViewBag.Next)</span>
                        @if (ViewBag.Next != ViewBag.Max)
                        {
                            <button type="submit" class="btn btn-primary" name="id" value="0"><span class="glyphicon glyphicon-arrow-right"> </span></button>
                        }
                    </center>

                </form>
            </div>
</div>
